.currentForecast {
    .currentForecast_location {
        font-size: 1rem;
        font-weight: normal;
        text-align: center;
        margin-bottom: 1rem;
        @include mq(768px) {
            font-size: 1.3rem;
        }
    }

    .currentForecast_conditions {
        width: 100%;
        font-size: 1.1rem;
        margin: auto auto 2rem;
        display: grid;
        @include mq(375px) {
            font-size: 1.3rem;
        }
        @include mq(400px) {
            font-size: 1.7rem;
        }

        .temp {
            @include flexCenter;
            grid-row: 1 / span 3;
            grid-column: 1 / span 2;
            font-size: 6rem;
            letter-spacing: 0;
            text-shadow: 1px 0 5px $text-shadow-color;
            position: relative;
            @include mq(375px) {
                font-size: 2rem;
            }
        
            @include mq(768px) {
                font-size: 3rem;
            }

            .unit {
                font-size: 1.65rem;
                color: $fadecolor;
                text-shadow: none;
                position: relative;
                top: 55%;
                left: 85%;
                @include mq(768px) {
                    left: 75%;
                }
            }
        }
    }
}