.currentForecast {
    .currentForecast_location {
        font-size: 1rem;
        font-weight: normal;
        text-align: center;
        margin-bottom: 1rem;
        @include mq(768px) {
            font-size: 1.3rem;
        }
        @include mq(400px) {
            font-size: 1.7rem;
        }

        .temp {
            @include flexCenter;
            grid-row: 1 / span 3;
            grid-column: 1 / span 2;
            font-size: 6rem;
            letter-spacing: 0;
            text-shadow: 1px 0 5px $text-shadow-color;
            position: relative;
            @include mq(360px) {
                font-size: 8rem;
            }

            @include mq(768px) {
                font-size: 9rem;
            }
        }
    }
}